# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Output web Vite
/www/
/www/*

# Asset generati da Capacitor
/android/app/src/main/assets/public/
/android/app/src/main/assets/public/*

# import da Walleet-
_imported_from_minus/

# local snapshots & temps
_snapshots/
*.tar.gz
.wpreview-www.pid
